# Ignore yarn cache except version bump info
node_modules/
.yarn/*
!.yarn/patches/
!.yarn/versions/

# Turborepo cache
.turbo/

# Package archives
package.tgz

# Common build outputs
*.tsbuildinfo
*.log

# User-specific files
.env
