version: "3"
services:
  16-alpine:
    build:
      context: .
      dockerfile: 16-alpine3.16.Dockerfile
    environment:
      YARN_IGNORE_NODE: 1
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  16-amazonlinux:
    build:
      context: .
      dockerfile: 16-amazonlinux2023.Dockerfile
    environment:
      YARN_IGNORE_NODE: 1
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  16-debian:
    build:
      context: .
      dockerfile: 16-debian10.Dockerfile
    environment:
      YARN_IGNORE_NODE: 1
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  16-ubi:
    build:
      context: .
      dockerfile: 16-ubi8.Dockerfile
    environment:
      YARN_IGNORE_NODE: 1
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  16-ubuntu:
    build:
      context: .
      dockerfile: 16-ubuntu20.04.Dockerfile
    environment:
      YARN_IGNORE_NODE: 1
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector

  18-alpine:
    build:
      context: .
      dockerfile: 18-alpine.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  18-amazonlinux:
    build:
      context: .
      dockerfile: 18-amazonlinux.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  18-debian:
    build:
      context: .
      dockerfile: 18-debian.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  18-ubi:
    build:
      context: .
      dockerfile: 18-ubi.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  18-ubuntu:
    build:
      context: .
      dockerfile: 18-ubuntu.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector

  20-alpine:
    build:
      context: .
      dockerfile: 20-alpine.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  20-amazonlinux:
    build:
      context: .
      dockerfile: 20-amazonlinux.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  20-debian:
    build:
      context: .
      dockerfile: 20-debian.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  20-ubi:
    build:
      context: .
      dockerfile: 20-ubi.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
  20-ubuntu:
    build:
      context: .
      dockerfile: 20-ubuntu.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector

  example:
    build:
      context: .
      dockerfile: 18-ubuntu.Dockerfile
    volumes:
      - ..:/solarwinds-apm
    links:
      - apm-collector
      - otel-collector
      - mysql
      - postgres

  apm-collector:
    image: ${TEST_COLLECTOR_IMAGE:-ghcr.io/librato/apm-agent-test-collector:v2.0.0}
    volumes:
      - ..:/solarwinds-apm
    expose:
      - 12224
    environment:
      PROGRAM_ARGS: /solarwinds-apm/docker/apm-collector/config.json
    depends_on:
      - udpdump
  udpdump:
    build:
      context: .
      dockerfile: 18-alpine.Dockerfile
    command: [yarn node udpdump.js]
    working_dir: /solarwinds-apm/scripts
    volumes:
      - ..:/solarwinds-apm
    expose:
      - 12225

  otel-collector:
    image: ${OTEL_COLLECTOR_IMAGE:-otel/opentelemetry-collector:0.81.0}
    command: [--config=/solarwinds-apm/docker/otel-collector/config.yml]
    volumes:
      - ..:/solarwinds-apm
    expose:
      - 4317

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
