name: Images
on:
  push:
    branches:
      - main
    paths:
      - "docker/*.Dockerfile"
      - ".github/workflows/images.yml"
  workflow_dispatch:
jobs:
  build-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - 16-alpine3.15
          - 16-amazonlinux2
          - 16-debian10
          - 16-ubi8
          - 16-ubuntu18.04
          - 18-alpine
          - 18-amazonlinux
          - 18-debian
          - 18-ubi
          - 18-ubuntu
          - 20-alpine
          - 20-amazonlinux
          - 20-debian
          - 20-ubi
          - 20-ubuntu
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: docker
          file: docker/${{ matrix.image }}.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/${{ github.repository }}/dev:${{ matrix.image }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
