name: Scan packages
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      RLPORTAL_ACCESS_TOKEN:
        required: true

jobs:
  scan:
    runs-on: ubuntu-latest
    env:
      RLPORTAL_ACCESS_TOKEN: ${{ secrets.RLPORTAL_ACCESS_TOKEN }}
      YARN_ENABLE_IMMUTABLE_INSTALLS: false

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          package-manager-cache: false
      - run: corepack enable

      - run: yarn install
      - run: yarn scan
